

.edit-1 { 
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1024);
    border: 1px solid #fafafa;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    border-radius: 3.75px;
    transition: ease-in-out all 400ms;
}

.edit-1:hover, .edit-3:hover {
        transform: scaleX(1.05) scaleY(1.05);
        box-shadow: inset 2px 3px 14px 1px rgba(148, 148, 148, 0.39);
    }

.edit-2 { 
height: 0.5rem;
background-color: #1485FC;
border: 1px solid #fafafa;
margin-top: 3rem;
margin-left: 1rem;
margin-right: 1rem;
margin-bottom: 3rem;
border-radius: 3.75px;

}

.edit-3 { 
    height: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1024);
    border: 1px solid #fafafa;
    margin-top: 3rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 3rem;
    border-radius: 3.75px;
    transition: ease-in-out all 400ms;
    
    }



p {
font-family: 'Montserrat', sans-serif;
font-size: 14px;
line-height: 21px;
text-align: justify;
text-align-last: center;
letter-spacing: 0.24px;
margin-bottom: 1.65rem;



}   


.content-center {
justify-content: center;

}

.slack-logo {
text-align: center;
margin-top: 1rem;
}

.calendar-logo {
    text-align: center;

}

#button-adjustments {
Display: Block;
Margin-left: Auto;
Margin-right: Auto;
background-color: #1485FC;
border: none;
color: white;
padding: 15px 32px;
text-align: center;
text-decoration: none;
font-size: 14px;
border-radius: 6px;
font-family: 'Montserrat', sans-serif;
width: 160px;
height: 45.5px;
transition: ease-in-out all 300ms;
box-shadow: 0 0.2rem 1rem rgba(108, 193, 250, 0.493);
}

#button-adjustments:hover {
  transform: scaleX(1.02) scaleY(1.02);
  box-shadow: 0.1rem 0.1rem 1rem rgba(108, 193, 250, 0.493);
  background-color:  rgb(57, 150, 250);

}

a {
    color: #fafafa;
}

