.callout h2{
  text-align: left;
  color: #fafafa;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
}

.id {
 background-color: #593DFF;
}


.se {
  background-color: #00BEFF;
}


.pm {
  background-color: #1485FC;
}

.square{
  transition: ease-in-out 300ms;
}

.square:hover {
  box-shadow: 0 0.2rem 5.5rem rgba(0, 0, 0, 0.33);
  transform: scaleX(1.1) scaleY(1.1);
}

#imagegrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h5 {
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  color: #757575;
}

#secondcell {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#not-decided a {
  margin-top: 30rem;
  color: #727272;
  text-decoration: underline;
}

#errorpage h1 {
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  color: #212121;
  margin-top: 3rem;
}

@keyframes paula {
  0%{background-color: #c62828}
  30%{background-color: #880e4f}
  40%{background-color: #00897b}
  100%{background-color: #ba68c8}
}

.cell {
  border-style: solid;
}

.progressDiv {
  background-color: #e3f2fd;
  margin: 2rem;
  padding: 2rem;
  border-radius: 7px;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.11);
}

.progressDiv h2 {
  text-align: left !important;
  font-family: Nunito Sans,sans-serif;
  color: #1976d2 !important;
  font-size: 1.5rem;
}

body {
  background-color: #fafafa;
  font-family: Nunito Sans, sans-serif;
  color: #212121;
  height: 100%;
}

#leftBar {
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.22);
}

#leftBar .cell {
  border-style: solid;
}

#firstpanel {
  padding: 4rem;
}

#firstpanel h1 {
  text-align: left;
  font-family: Nunito Sans, sans-serif;
  color: #212121;
  font-size: 2rem;
}

#firstpanel h2 {
  text-align: left !important;
  font-family: Nunito Sans, sans-serif;
  color: #212121;
}

.progress {
  border-radius: 30px;
  background-color: #1485FC;
  height: 0.75rem;
}

.progress-meter {
  border-radius: 30px;
  background-color: #1485FC;
  height: 0.75rem;
}

#date {
  line-height: normal;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.278957);
}

.logomain {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#secondpanel {
  padding: 4rem;
}

#secondpanel h1 {
  font-size: 1.5rem;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
}

#secondpanel h2 {
  font-size: 1.5rem;
  font-family: Nunito Sans, sans-serif;
  text-align: left;
  color: #212121;
}

.icon_stan {
  height: 1.5rem;
  width: 1.5rem;
  border-style: solid;
  border-color: #e91e63;
  border-radius: 0.1rem;
  background-color: #ad1457;
  border-width: 1rem;
  margin-bottom: 1rem;
}

.icon_weather {
  background-color: #64b5f6;
  color: #1976d2;
  padding: 0.5rem;
  border-radius: 0.1rem;
  margin-top: 1rem;
  width: 5rem;
}

#descriptionDiv {
  margin-top: 4rem;
}

.weirdLeafIcon {
  background-color: #43a047;
  height: 1rem;
  width: 4rem;
  border-radius: 0.1rem;
  margin-bottom: 1rem;
}

.button {
  background-color: #1976d2;
  margin-top: 1rem;
  color: #fafafa;
  font-weight: 700;
  padding: 1rem;
  border-radius: 3px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.22);
  transition: ease-in-out all 300ms;
}

.button:hover {
  background-color: #2196f3;
  box-shadow: 0 0 1.2rem rgba(0, 0, 0, 0.33);
  transform: scaleX(1.03) scaleY(1.03);
}
