.callout h2{
  text-align: left;
  color: #fafafa;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
}

.id {
 background-color: #593DFF;
}


.se {
  background-color: #00BEFF;
}


.pm {
  background-color: #1485FC;
}

.square{
  transition: ease-in-out 300ms;
}

.square:hover {
  box-shadow: 0 0.2rem 5.5rem rgba(0, 0, 0, 0.33);
  transform: scaleX(1.1) scaleY(1.1);
}

#imagegrid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

h5 {
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  font-weight: 700;
  color: #757575;
}

#secondcell {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

#not-decided a {
  margin-top: 30rem;
  color: #727272;
  text-decoration: underline;
}

#errorpage h1 {
  text-align: center;
  font-family: Nunito Sans, sans-serif;
  color: #212121;
  margin-top: 3rem;
}

@keyframes paula {
  0%{background-color: #c62828}
  30%{background-color: #880e4f}
  40%{background-color: #00897b}
  100%{background-color: #ba68c8}
}

.cell {
  border-style: solid;
}
