<!DOCTYPE html>


<html lang="en" charset="utf-8">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>Stepify</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/foundation.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/vendor/uikit.min.css') }}">
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Nunito+Sans:400,700" rel="stylesheet">
    <script src="{{ url_for('static', filename='js/vendor/jquery.js') }}"></script>

    <script src="{{ url_for('static', filename='js/vendor/what-input.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/foundation.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/uikit.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/vendor/uikit-icons.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/help.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script>
      $(document).foundation();
    </script>
    <script>
        var tasksString = '{{ tasks|tojson }}';
        var totalTasks = "{{ total_tasks }}";
        var doneTasks = "{{ done_tasks }}";
        var username = "{{ username }}";
    </script>
</head>
<body>
  <div class="grid-x grid-frame" style="height: 100%">
    <div class="small-4 medium-2 large-1 cell" data-sticky-container id="leftBar">
      <div class="grid-y uk-padding" data-sticky data-options="marginTop:0;" style="display: fixed">
        <div class="medium-2 cell">
          <div class="logomain">
            <img style="width: 40px" src="{{ url_for('static', filename='img/logo.png') }}" alt="">
          </div>
        </div>
        <div class="medium-8 cell">

        </div>
        <div class="medium-2 cell">
          <div class="uk-padding" style="position: absolute;bottom: 0;left: 0;">
            <a href="/logout" uk-icon="icon: sign-out; ratio: 4" style="width: 30px"></a>
          </div>
        </div>
      </div>
    </div>
    <div class="medium-6 small-12 cell" id="firstpanel">
      <h1>Welcome, Felix Koepp</h1>
      <p id="date" class="uk-text-meta">Tuesday, 18.09.2018</p>
      <div class="progressDiv uk-card">
        <div class="uk-card-badge" id="percentage">75 %</div>
        <h2>Your progress</h2>
        <p class="uk-text-meta">Three quarters done! Way to go!</p>
        <progress class="uk-progress" value="70" max="100"></progress>
      </div>
      <div class="">
        <h1 class="no-bottom-margin">Upcoming Tasks:</h1>
        <h2>Today</h2>
        <div class="uk-padding-small uk-padding-remove-top tasklist">
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span id="first-task" class="uk-margin-medium-left">Signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left no-bottom-margin">Meet to go to secret place.*</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div id="required-1"><h6 class="required-text">(*=required)</h6></div>
        </div>
        <h2>Tomorrow</h2>
        <div class="uk-padding-small tasklist">
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
        </div>
        <h2>Upcoming</h2>
        <div class="uk-padding-small tasklist">
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
          <div class="uk-grid-small uk-child-width-auto uk-grid">
            <label><input class="uk-checkbox" type="checkbox" checked> <span class="uk-margin-medium-left">signup to stepify</span></label>
          </div>
        </div>
      </div>
    </div>
    <div class="medium-5 cell" id="secondpanel">
      <div class="grid-y">
        <div class="medium-4 cell">
          <div class="icon_stan"><img src="../static/img/platform-icons/personal-logo.svg" alt="go-there-yourself" style="width:3rem;height:3rem;"></div>

          <h1 class="no-top-margin">Meet to go to secret place trip <span><h6 class="required-text">(required)</h6></span></h1>

          <div class="icon_weather"><img src="../static/img/weather-icons/sun.svg" alt="">Sunny! 24°</div>
        </div>
        <div class="medium-8 cell" id="descriptionDiv">
          <div class="grid-x tasklist">
            <div class="medium-6 cell less-height">
              <h2>Description:</h2>
            </div>
            <div class="uk-margin-top uk-margin uk-grid-small uk-child-width-auto uk-grid">
              <label><input class="uk-checkbox" type="checkbox" checked> completed</label>
            </div>
          </div>
          <div class="grid-x">
            <div class="weirdLeafIcon"><img src="../static/img/property-icons/outside-meeting.svg" alt=""><img src="../static/img/property-icons/pet-friendly.svg" alt=""><img src="../static/img/property-icons/vegan.svg" alt=""></div>
          </div>
          <p> We will all meet just outside of the Factory main entrance. Nextgen CODE t-shirts and wristbands will be handed out. We will board 3 buses that will take us to a secret destination were we will spend the next couple of days. We will be back by Thursday at 6pm.</p>
          <a href="#" class="button">Explore next task <span uk-icon="icon: chevron-right"></span></a>
        </div>
      </div>
    </div>

  </div>


        <!--THE DIV ABOVE ("#TO-DO-LIST") GETS POPULATED BY JavaScript IN THE FOLLOWING WAY

        <div id="to-to-list">
            <div class="to-do-item" id="1">
                <button class="to-do-checkbox" id="1-b">
                    Done.
                </button>
                <span class="to-do-title">
                    task1
                </span>
                <div class="to-do-description">
                    se task example
                </div>
            </div>
         </div>

        You can set styles on .to-do-item and .to-do-title and .to-do-description
        or even change the element to a different type of element
        and you can move the entire div (.to-do-list) inside another div if you want
        but if you want to change the structure inside this div,
        I have to do this in the JavaScript.

        -->


    <script type="text/javascript" src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
